<div class="dashbord-main">
    <div class="onbordBtn">
        <div>
            <button mat-raised-button (click)="createVenture()">Venture on board</button>
        </div>
        <div>
        <button mat-raised-button (click)="createNewuser()">Create user</button>
        <button mat-raised-button (click)="userProfiles()">Total User</button>
        <button mat-raised-button (click)="edituser()">Edit Profile</button>
        <button mat-raised-button (click)="logout()">Log out</button>
    </div>
    </div>
    <app-chart></app-chart>
    <!-- <app-user-data></app-user-data> -->
    <app-project-data></app-project-data>
</div>
